:global(.ant-list-split)
	.ant-list-item
		padding 15px
		background rgba(0,0,0,.64)
		border none
		color #fff
		&:first-child
			margin-top 10px
		&:not(:last-child)
			margin-bottom 10px

		:global(a)
			color #fff
