:global(.ant-list-split)
	.ant-list-item
		padding 15px
		background rgba(0,0,0,.84)
		border none
		color #fff
		&:first-child
			margin-top 10px
		&:not(:last-child)
			margin-bottom 10px

		:global(.ant-list-item-extra)
			img
				width 100%
				height auto

		:global(a)
			color #fff

:global(.ant-list-vertical)
	:global(.ant-list-item-content)
		color #fff
		margin-bottom 0
	:global(.ant-list-item-extra)
		margin 0 auto

:global(.ant-card-head-title),
:global(.ant-card-head)
	background gainsboro
	padding 0
	border none

:global(.ant-card-body)
	padding 5px


.extra-figure
	display block
	position relative
	overflow hidden
	border 1px solid darkgray
	&:hover
		figcaption
			opacity 1
			bottom 0
		&:before
			opacity 0
	&:before
		content "?"
		position absolute
		bottom 5px
		left 5px
		font-weight 800
		background black
		background rgba(255,255,255,.75)
		text-shadow 0 0 5px white
		color #000
		width 20px
		height 20px
		border-radius 10px
		text-align center
		font-size 14px
		line-height 20px
		transition all .4s ease
		opacity .75

	img
		display block
		width 100%
		height auto
	figcaption
		position absolute
		left 0
		bottom -30%
		background black
		background rgba(0,0,0,.65)
		color #fff
		width 100%
		text-align center
		opacity 0
		transition all .4s ease
		font-weight 800

		@media screen and (max-width 767px)
			font-size 1.5rem

		@media screen and (min-width 768px and max-width 1024px)
			font-size .8rem

		@media screen and (min-width 1025px)
			font-size 1rem
