.status {
	width: 100%;
	min-height: 100px;
	background-color: rgba(0,0,0,.74);
	color: #fff;
	padding: 15px;
	position: relative;
}

.status .statistic .value {
	color: rgba(255, 255, 255, .84)
}

.status .statistic .label {
	color: rgba(255, 255, 255, .94);
}
