.ui.items>.item.hero {
	background-color: rgba(0,0,0, .84);
	box-shadow: 0 0 50px 5px rgba(0,0,0,.74);
	padding: 15px;
}

.ui.items>.item.hero .extra > button {
	margin: 0;
}

.ui.items>.item.hero .ui.small.image {
	width: auto;
}

.hero-name {
	background-color: rgba(0,0,0,.64);
	position: relative;
	top: -19px;
	font-size: 14pt;
	color: #fff;
	text-align: center;
}
