nav {
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	background: url("./stone-background.jpg") repeat-x center;
	box-shadow: 0 0 5px 5px rgba(0,0,0,.64);
	margin-bottom: 50px;
	z-index: 99999;
	text-align: center;
}
