.hero .value {
	margin-left: -20px;
}

.hero .label {
	margin-top: -2px;
}

.hero .rv-hint {
	background-color: rgba(0,0,0,.94);
	padding-bottom: 15px;
	width: 200px;
	font-size: 10pt;
	z-index: 1;
}

.hero .rv-hint p {
	margin-bottom: 0;
}

@media screen and (min-width: 768px) {
	.hero .value {
		margin-top: -8px;
	}
}

@media screen and (max-width: 465px){
	.ui.statistic {
		display: block;
	}

	.rv-xy-plot {
		margin: 0 auto;
	}

	.ui.items>.item>.content>.description {
		margin-top: 3em;
	}
}
