.row
	background rgba(0,0,0,.84)
	box-shadow 0 10px 50px 5px rgba(0,0,0,.64)
	text-align center

.col
	color #fff
	padding 18px

	@media screen and (max-width 564px)
		padding 8px

	:global(.ant-skeleton)
		:global(.ant-skeleton-title)
			margin 10px auto 0
		:global(.ant-skeleton-paragraph)
			display block
			li
				margin 0 auto

	h2
		color inherit
		font-size 3rem

		@media screen and (max-width 564px)
			font-size 1.7rem

	h3
		color inherit
		font-size 1rem
		text-transform uppercase
		font-weight 700
		margin-top -.5rem

		@media screen and (max-width 564px)
			font-size .7rem
			margin-top -.2rem

