.hero .attr-icon {
	width: 25px;
	height: auto;
}

.hero .ui.list .item {
	color: #fff;
}

.hero .attr-icon.primary {
	border: 1px solid gold;
	border-radius: 50%;
}

.ui.horizontal.celled.list .list>.item,
.ui.horizontal.celled.list>.item {
	padding-left: 0;
}

.hero .list {
	margin: 0;
}

.hero .ui.list .item .header {
	color: rgba(255,255,255,.84);
}

.hero .attributes {
	margin-bottom: 5px;
}

.hero header {
	color: rgba(255,255,255,.94);
}

.hero hr {
	margin: 0;
}
