.row
	background rgba(0,0,0,.84)
	box-shadow 0 0 50px 5px rgba(0,0,0,.64)
	padding 18px
	color #fff
	margin-bottom 18px

.switch
	margin-left 10px

	&:not(:global(.ant-switch-checked))
		background-color #1890ff87

	:global(.ant-switch-inner)
		font-size 16px
