body {
	font-family: sans-serif;
	background: fixed url("./background.jpg") no-repeat center;
	background-size: cover;
	padding-top: 125px;
}

nav {
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	background: url("./stone-background.jpg") repeat-x center;
	box-shadow: 0 0 5px 5px rgba(0,0,0,.64);
	margin-bottom: 50px;
	z-index: 99999;
}

.heroes {
	background-color: rgba(0,0,0, .84);
	box-shadow: 0 0 100px 5px rgba(0,0,0,.74);
	border: 1px solid rgba(255,255,255,.44);
	width: 80%;
	margin: 0 auto 25px auto;
}

.hero {
	position: relative;
	padding: 25px;
}

ul.heroes > li:not(:last-child) {
	border-bottom: 1px solid rgba(255,255,255,.44);
}

.hero-preview {
	position: relative;
	text-align: center;
	height: 130px;
	outline: 3px solid #fff;
}

.hero-name {
	color: #ffffff;
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 36px;
	line-height: 36px;
	background-color: rgba(0,0,0,.64);
	text-align: center;
	font-weight: bold;
	letter-spacing: 1px;
}
