@import "font.css";

* {
	font-family: 'Poppins', sans-serif !important;
}

body {
	background: fixed url("background-blurred.jpg") no-repeat;
	background-size: cover;
	font-weight: normal;
}

main {
	width: 80%;
	height: 100vh;
	margin: 100px auto 25px auto;
}
