footer.footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	height: 90px;
	background: rgba(0,0,0,.64);
	color: #fff;
}

footer.footer .ui.container,
footer.footer .ui.grid {
	height: 100%;
}

footer.footer .ui.grid {
	margin: 0 -1rem;
}

.ui.comments .comment .author,
.ui.comments .comment .text {
	color: #fff;
}
